.home0 {
    display: grid;
    grid-template-areas:
                "home1  home1 home1"
                "home2 home2 home2"
                "home3 home3 home3 ";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 3fr auto;
    gap: 10px;
    max-width: 1200px;
    margin: auto;
    position: relative;

    .homeLineBreak {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
        height: 1px;
        background-color: #d3d3d3;
        border-radius: 2px;
    }

    .home1 {
        margin-bottom: 10px;
        grid-area: home1;
        background-color: #ffffff;
        box-shadow: 2px 2px 4px rgba(3, 3, 3, 0.1);
        text-align: center;
        padding: 20px;
        color: #080a0b;
        font-size: 16px;
        font-family: "Poppins";
        display: grid;
        grid-template-areas:
        "home11 home12 home13";
        grid-template-columns: 0.2fr 0.5fr auto;
        gap: 10px;

        .home11 {
            grid-area: home11;
            display: grid;
            grid-template-areas: "logo title";

            .home111 {
                grid-area: logo;

                image {
                    color: #030303;
                    fill: #030303;
                    font-size: 20px;
                    width: 20px;
                    height: 24px;
                }
            }

            .home112 {
                grid-area: title;
                color: #030303;
                font-size: 20px;
                font-family: "Poppins";
            }
        }

        .home12 {
            grid-area: home12;

            input {
                width: 345px;
                padding: 0px 8px;
                border: 1px solid #cbcbd0;
                box-sizing: border-box;
                border-radius: 12px;
                background-color: rgba(255, 255, 255, 0.74);
                color: #1d1d1f;
                font-size: 14px;
                font-family: "Poppins";
                font-weight: 500;
                outline: none;
                margin-left: 80px;
            }

        }

        .home13 {
            grid-area: home13;
            display: grid;
            grid-template-areas:"home131 home132 home133";
            grid-template-columns: auto auto auto;
            gap: 10px;

            .home131 {
                grid-area: home131;
                display: grid;
                grid-template-areas:"home1311 home1312 home1313 home1314";
                grid-template-columns: auto auto auto;

                .home1311 {
                    font-weight: 500;
                    color: #5d5d5b;
                }

                .home1311:active {
                    color: #080a0b;
                    font-weight: 700;
                }
            }

            .home132 {
                grid-area: home132;
                display: grid;
                grid-template-areas:"home1321 home1322 home1323";
                grid-template-columns: auto auto auto;

            }

            .home133 {
                grid-area: home133;
                display: grid;
                grid-template-areas:"home1331 home1332";
                grid-template-columns: auto auto;

                .home1331 {
                    button {
                        cursor: pointer;
                        width: 110px;
                        padding: 0px 8px;
                        border: 0;
                        box-sizing: border-box;
                        border-radius: 12px;
                        background-color: #0b83ff;
                        color: #ffffff;
                        font-size: 14px;
                        font-family: "Poppins";
                        font-weight: 500;
                        outline: none;
                    }
                }
            }
        }
    }

    .home2 {

        grid-area: home2;
        background-color: #d9ecff;
        border-radius: 12px;
        text-align: center;
        padding: 20px 30px;
        margin-left: 20px;
        margin-right: 20px;
        display: grid;
        grid-template-areas:
                "home21"
                "home22"
                "home23"
                "home24";
        grid-template-rows: auto auto auto auto;

        .home21 {
            grid-area: home21;
            display: grid;
            grid-template-areas:
                    "home211 home212";
            grid-template-columns: 1.5fr 1fr;

            .home211 {
                grid-area: home211;
                margin-top: auto;
                margin-bottom: auto;

                .home2110 {
                    min-height: 250px;
                    margin-right: 10%;
                    margin-top: auto;
                    margin-bottom: auto;

                    .home2111 {
                        text-align: left;
                        color: #2b2c2b;
                        font-size: 48px;
                        font-family: "Poppins";
                        font-weight: 800;
                        line-height: 62px;
                    }

                    .home2112 {
                        text-align: left;
                        color: #2b2c2b;
                        font-size: 18px;
                        font-family: "Poppins";
                    }
                }

                .home2113 {
                    margin-right: 10%;
                    text-align: left;

                    button {
                        cursor: pointer;
                        width: 274px;
                        padding: 0px 8px;
                        border: 0;
                        box-sizing: border-box;
                        border-radius: 12px;
                        background-color: #0b83ff;
                        color: #ffffff;
                        font-size: 18px;
                        font-family: "Poppins";
                        font-weight: 500;
                        outline: none;
                    }
                }
            }

            .home212 {
                grid-area: home212;
                margin-top: auto;
                margin-bottom: auto;

                .home2121 {
                    img {
                        width: 412px;
                        height: 412px;
                        border-radius: 12px;
                        background-position: center center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }

                .home2122 {
                    color: #000000;
                    font-size: 16px;
                    text-align: right;
                }
            }

        }

        .home22 {
            grid-area: home22;

            .home221 {
                text-align: left;
                color: #2b2c2b;
                font-size: 24px;
                font-weight: 800;

            }

            .home222 {
                display: grid;
                grid-template-columns: repeat(5, auto);
                gap: 5%;

                .home2221 {
                    .home22211 {
                        width: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            width: 150px;
                            height: 150px;
                            border-radius: 12px;
                            background-position: center center;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }

                    }
                }
            }

        }

        .home23 {
            grid-area: home23;

            .home231 {
                color: #2b2c2b;
                font-size: 28px;
                font-family: "Poppins";
                font-weight: 800;
                line-height: 36px;
                text-align: center;
                margin-bottom: 2%;
            }

            .home232 {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 2%;

                .home2321 {
                    button {
                        cursor: pointer;
                        width: 88px;
                        padding: 0px 8px;
                        margin-top: 10px;
                        border: 0;
                        box-sizing: border-box;
                        border-radius: 12px;
                        background-color: #0b83ff;
                        color: #ffffff;
                        font-size: 16px;
                        line-height: 20px;
                        outline: none;
                    }
                }

                .home2321:nth-child(1) {
                    width: 100%;
                    justify-content: center;
                }

                .home2321:nth-child(2) {
                    width: calc(100% - 40px); /* Adjusts the width to accommodate margin */
                    justify-content: space-between; /* Ensures the buttons are spread out */
                    margin-left: 20px;
                    margin-right: 20px;
                }

            }
        }

        .home24 {
            grid-area: home24;
            margin-bottom: 5%;
            .home241 {
                color: #2b2c2b;
                font-size: 28px;
                font-weight: 800;
                line-height: 36px;
                text-align: center;
                margin-bottom: 2%;
            }

            .home242 {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 2%;

                .home2421 {
                    display: flex;
                    flex-direction: column;
                    width: 30%;
                    /*height: 384px;*/
                    background-color: #082a5e;
                    color: #f9a825;
                    padding: 20px;
                    border-radius: 10px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    text-align: left;

                    .home24211 {
                        margin-top: 5%;
                        color: #f9a825;
                        font-size: 20px;
                        font-family: "Poppins";
                        font-weight: 500;
                        line-height: 26px;
                    }

                    .home24212 {
                        color: #f9a825;
                        font-size: 32px;
                        font-family: "Poppins";
                        font-weight: 700;
                        line-height: 42px;
                        margin-bottom: 2%;
                    }

                    .home24213 {
                        display: flex;
                        margin-top:20px;
                        .home242131 , .home242132{

                            button {
                                margin-right: 10px;
                                cursor: pointer;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 20px;
                                height: 20px;
                                border: 0;
                                box-sizing: border-box;
                                border-radius: 12px;
                                color: #030303;
                                background-color: #ffffff;
                                outline: none;
                            }
                        }


                    }

                    .home24214 {
                        margin-top:20%;
                        button {
                            background-color: white;
                            color: #1f77d2;
                            border: none;
                            padding: 10px 20px;
                            text-transform: uppercase;
                            font-weight: bold;
                            border-radius: 5px;
                            width: 100%;
                            cursor: pointer;
                            transition: background-color 0.3s;
                        }

                        button:hover {
                            background-color: #f9a825;
                            color: #082a5e;
                        }
                    }
                    .home24215{
                        margin-top:20%;
                        button {
                            border: none;
                            padding: 10px 20px;
                            text-transform: uppercase;
                            width: 100%;
                            cursor: pointer;
                            transition: background-color 0.3s;
                            border: 0;
                            box-sizing: border-box;
                            border-radius: 12px;

                            font-size: 16px;
                            font-family: "Poppins";
                            font-weight: 500;
                            line-height: 22px;
                            outline: none;
                            background-color: white;
                            color: #1f77d2;
                        }

                        button:hover {
                            background-color: #f9a825;
                            color: #082a5e;
                        }

                    }
                }

            }

        }
    }

    .home3 {
        grid-area: home3;
        color: black;
        text-align: center;
        padding: 20px 30px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .home31{
            display: flex;
            flex-direction: row;
            text-align: left;
            .home311{
              display: flex;
                flex-direction: column;

            }
            .home312{
                color: #2b2c2b;
                font-size: 16px;
                font-family: "Poppins";
                font-weight: 700;
                line-height: 24px;
            }
            .home313{
                display: flex;
                .home3131{
                    img{
                        color: #2b2c2b;
                        fill: #2b2c2b;
                        font-size: 32px;
                        width: 32px;
                        height: 32px;
                    }
                }

            }
        }
    }


}