@media screen and (max-width: 1010px) {
    * {
        display: none;
    }

}

@media screen and (min-width: 1600px) {
}


@media screen and (min-width: 1010px) {

    * {
        font-family: "Times New Roman", Times, serif;

        img, image {
            cursor: pointer;
        }
    }

    .home0 {
        display: grid;
        grid-template-areas:
                "home1  home1 home1"
                "home2 home2 home2"
                "home3 home3 home3 ";
        grid-template-columns: auto auto auto;
        grid-template-rows: auto 3fr auto;
        gap: 10px;
        max-width: 1200px;
        margin: auto;
        position: relative;
        box-shadow: 0 0 8px rgba(160, 205, 249, 0.4);

        .homeLineBreak {
            margin-top: 5%;
            margin-bottom: 5%;
            width: 100%;
            height: 1px;
            background-color: #d3d3d3;
            border-radius: 2px;
        }

        .home1 {
            margin-bottom: 10px;
            grid-area: home1;
            background-color: #ffffff;
            box-shadow: 2px 2px 4px rgba(3, 3, 3, 0.1);
            text-align: center;
            padding: 20px;
            color: #080a0b;
            font-size: 16px;

            display: grid;
            grid-template-areas:
        "home11 home12 home13";
            grid-template-columns: 0.5fr 1fr 2fr;

            gap: 10px;

            .home11 {
                grid-area: home11;
                display: grid;
                grid-template-areas: "logo title";
                align-items: center;

                .home111 {
                    grid-area: logo;

                    image {
                        color: #030303;
                        fill: #030303;
                        font-size: 20px;
                        width: 20px;
                        height: 24px;
                    }
                }

                .home112 {
                    grid-area: title;
                    color: #030303;
                    font-size: 20px;

                }
            }

            .home12 {
                grid-area: home12;
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-left: 20px;
                width: 100%;

                .home121 {
                    width: 100%;

                    .home1211 {
                        width: 100%;
                        height: 48px;
                        padding: 0px 8px;
                        border: 1px solid #cbcbd0;
                        box-sizing: border-box;
                        border-radius: 12px;
                        background-color: rgba(255, 255, 255, 0.74);
                        color: #1d1d1f;
                        font-size: 14px;
                        font-family: "Poppins";
                        font-weight: 500;
                        line-height: 18px;
                        outline: none;
                    }
                }
            }

            .home13 {
                grid-area: home13;
                display: grid;
                grid-template-areas:"home131 home132 home133";
                grid-template-columns: 1fr auto auto;
                align-items: center;
                gap: 10px;

                .home131 {
                    grid-area: home131;
                    display: flex;
                    flex-wrap: wrap; /* Allows items to wrap onto the next line */
                    justify-content: flex-end; /* Aligns items to the start of the flex container */
                    gap: 5px;

                    .home1311 {
                        flex: auto;
                        box-sizing: border-box; /* Includes padding and border in the element's total width and height */
                        padding: 5px; /* Optional padding for spacing and aesthetics */
                        text-align: center;
                        font-weight: 500;
                        color: #5d5d5b;
                        max-width: calc(100% / 6);

                    }

                    .home1311:active {
                        color: #080a0b;
                        font-weight: 700;
                    }

                    .home1311:hover {
                        color: #030303;
                        font-weight: 700;
                    }
                }

                .home132 {
                    grid-area: home132;
                    display: flex;
                    flex-wrap: wrap; /* Allows items to wrap onto the next line */
                    justify-content: flex-end; /* Aligns items to the start of the flex container */
                    width: 100%; /* Ensures the container takes full width of its parent */

                    .home1321 {
                        padding-top: 5px;
                        padding-left: 5px;
                        padding-right: 5px;

                        img {

                            color: #000000;
                            fill: #000000;
                            font-size: 20px;
                            width: 20px;
                            height: 24px;
                        }
                        img:hover {
                            box-shadow: 0 0 12px rgba(160, 205, 249, 1);
                        }
                    }

                }

                .home133 {
                    grid-area: home133;
                    display: flex;
                    flex-wrap: wrap; /* Allows items to wrap onto the next line */
                    justify-content: flex-start; /* Aligns items to the start of the flex container */
                    width: 100%; /* Ensures the container takes full width of its parent */
                    align-items: center;
                    align-content: center;

                    .home1331 {
                        display: block;
                        padding-left: 10px;

                        button {
                            cursor: pointer;
                            width: 110px;
                            height: 38px;
                            padding: 0px 8px;
                            border: 0;
                            box-sizing: border-box;
                            border-radius: 12px;
                            background-color: #0b83ff;
                            color: #ffffff;
                            font-size: 14px;
                            font-family: "Poppins";
                            font-weight: 500;
                            line-height: 18px;
                            outline: none;

                        }

                        button:hover {
                            background-color: #f9a825;
                            color: #082a5e;
                        }

                        .modal-overlay {
                            display: none; /* Initially hidden */
                            position: fixed;
                            justify-content: center;
                            align-items: center;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(217, 236, 255, 0.5);
                            border-radius: 12px;
                            box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
                        }

                        .modal-content {
                            background-color: #082a5e;
                            padding: 20px;
                            border-radius: 5px;
                            width: 471px;

                            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                            position: relative;
                            color: #f9a825;
                            font-size: 32px;
                            font-family: "Open Sans";
                            font-weight: 700;
                            line-height: 38px;

                            .modal-content1 {
                                display: flex;
                                flex-direction: row;
                                width: 100%;

                                .modal-content11 {
                                    flex: 1 1 auto;

                                    img {
                                        color: #f9a825;
                                        fill: #f9a825;
                                        font-size: 64px;
                                        width: 64px;
                                        height: 64px;
                                    }
                                }

                                .modal-content12 {
                                    align-content: center;
                                    flex: 4 4 auto;
                                    text-align: left;
                                }
                            }

                            .modal-content2 {
                                width: 100%;
                                flex-direction: row;

                                input {
                                    margin-bottom: 10px;
                                    margin-top: 10px;
                                    width: 90%;
                                    height: 46px;
                                    padding: 0px 8px;
                                    border: 0.909091px solid #cbcbd0;
                                    box-sizing: border-box;
                                    border-radius: 12px;
                                    background-color: #ffffff;
                                    color: #94a3b8;
                                    font-size: 14px;
                                    font-family: "Open Sans";
                                    font-weight: 500;
                                    line-height: 45.99431610107422px;
                                    outline: none;

                                }
                            }

                            .modal-content3 {
                                display: flex;
                                margin-left: 25px;
                                margin-bottom: 10px;

                                .modal-content31 {
                                    display: flex;
                                    align-items: center;
                                    margin-right: 10px;

                                    .modal-content311 {
                                        input {
                                            width: calc(100% - 8px);
                                            height: calc(100% - 8px);
                                            transform: translate(-50%, -50%);
                                            transition: left 0.3s ease;
                                            border-radius: 6px;
                                            background-color: rgba(2, 117, 255, 1);

                                        }

                                        input[type="radio"] {
                                            /* Scale up the radio button */
                                            transform: scale(1.5); /* Adjust the scaling factor to your preference */
                                            /* Optional: to vertically align the scaled radio with labels or other inline elements */
                                            vertical-align: middle;
                                        }


                                    }

                                    .modal-content312 {
                                        margin-top: -5px;
                                        margin-left: 10px;
                                        margin-right: 20px;

                                        label {

                                            color: #f9a825;
                                            font-size: 14px;
                                            font-family: "Open Sans";
                                            font-weight: 500;
                                            line-height: 16px;


                                        }
                                    }
                                }
                            }

                            .modal-content4 {
                                margin-top: 20px;
                                margin-bottom: 20px;

                                button {
                                    cursor: pointer;
                                    width: 90%;
                                    height: 48px;
                                    padding: 0px 8px;
                                    border: 0;
                                    box-sizing: border-box;
                                    border-radius: 12px;
                                    background-color: #f9a825;
                                    color: #000000;
                                    font-size: 16px;
                                    font-family: "Open Sans";
                                    line-height: 19px;
                                    outline: none;

                                }
                            }

                        }

                        .close {
                            position: absolute;
                            right: 10px;
                            top: 0;
                            font-size: 40px;
                            cursor: pointer;
                        }

                        .close:hover {
                            color: red;
                        }
                    }

                    .home1332 {
                        display: none;
                        padding: 0 8px;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 100000px;
                            background-position: center center;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }

                        .dropdown-content {
                            position: absolute;
                            background-color: #f9f9f9;
                            min-width: 160px;
                            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                            z-index: 1;
                            border-radius: 4px;
                            padding: 12px 16px;

                        }

                        .dropdown-content a {
                            padding: 10px 16px;
                            text-decoration: none;
                            display: block;
                            color: black;
                        }

                        .dropdown-content a:hover {
                            background-color: #f1f1f1;
                            color: #030303;
                            /*background-color: #f9a825;*/
                            /*color: #000000;*/
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        .home2 {
            grid-area: home2;
            background-color: #d9ecff;
            border-radius: 12px;
            text-align: center;
            padding: 20px 30px;
            margin-left: 40px;
            margin-right: 40px;
            display: grid;
            grid-template-areas:
                "home21"
                "home22"
                "home23"
                "home24";
            grid-template-rows: auto auto auto auto;

            .home21 {
                grid-area: home21;
                display: grid;
                grid-template-areas:
                    "home211 home212";
                grid-template-columns: 1.5fr 1fr;

                .home211 {
                    grid-area: home211;
                    margin-top: auto;
                    margin-bottom: auto;

                    .home2110 {
                        min-height: 250px;
                        margin-right: 10%;
                        margin-top: auto;
                        margin-bottom: auto;

                        .home2111 {
                            text-align: left;
                            color: #2b2c2b;
                            font-size: 48px;

                            font-weight: 800;
                            line-height: 62px;
                        }

                        .home2112 {
                            text-align: left;
                            color: #2b2c2b;
                            font-size: 18px;

                        }
                    }

                    .home2113 {
                        margin-right: 10%;
                        text-align: left;

                        button {
                            cursor: pointer;
                            width: 274px;
                            padding: 0px 8px;
                            border: 0;
                            box-sizing: border-box;
                            border-radius: 12px;
                            background-color: #0b83ff;
                            color: #ffffff;
                            font-size: 18px;

                            font-weight: 500;
                            outline: none;
                        }

                        button:hover {
                            background-color: #f9a825;
                            color: #082a5e;
                        }
                    }
                }

                .home212 {
                    grid-area: home212;
                    margin-top: auto;
                    margin-bottom: auto;

                    .home2121 {
                        img {
                            width: 412px;
                            height: 412px;
                            border-radius: 12px;
                            background-position: center center;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                    }

                    .home2122 {
                        color: #000000;
                        font-size: 16px;
                        text-align: right;
                    }
                }

            }

            .home22 {
                grid-area: home22;

                .home221 {
                    text-align: left;
                    color: #2b2c2b;
                    font-size: 24px;
                    font-weight: 800;

                }

                .home222 {
                    display: grid;
                    grid-template-columns: repeat(5, auto);
                    gap: 5%;

                    .home2221 {
                        .home22211 {
                            margin-top: 20px;
                            width: 100%;

                            img {
                                width: 100%;
                                height: 100%;
                                width: 150px;
                                height: 150px;
                                border-radius: 12px;
                                background-position: center center;
                                background-size: cover;
                                background-repeat: no-repeat;
                            }

                        }
                    }
                }

            }

            .home23 {
                grid-area: home23;

                .home231 {
                    color: #2b2c2b;
                    font-size: 28px;

                    font-weight: 800;
                    line-height: 36px;
                    text-align: center;
                    margin-bottom: 2%;
                }

                .home232 {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    .home2321 {
                        justify-content: center;
                        align-items: center;
                        button {
                            cursor: pointer;
                            width: 88px!important;
                            margin-top: 10px;
                            border: 0;
                            box-sizing: border-box;
                            border-radius: 12px;
                            background-color: #0b83ff;
                            color: #ffffff;
                            font-size: 16px;
                            line-height: 20px;
                            outline: none;
                        }

                        button:hover {
                            background-color: #f9a825;
                            color: #082a5e;
                        }

                        button:nth-child(1) {
                            width: 100%;
                            margin:0;
                            padding: 0;
                            justify-content: center;
                            align-items: center;
                        }

                        button:nth-child(2) {
                            width: calc(100% - 30px);
                            justify-content: space-between;
                            margin-left: 15px !important;
                            margin-right: 15px !important;
                        }
                    }

                }
            }

            .home24 {
                grid-area: home24;
                margin-bottom: 5%;

                .home241 {
                    color: #2b2c2b;
                    font-size: 28px;
                    font-weight: 800;
                    line-height: 36px;
                    text-align: center;
                    margin-bottom: 2%;
                }

                .home242 {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 2%;


                    .home2421 {
                        display: flex;
                        flex-direction: column;
                        width: 30%;
                        background-color: #082a5e;
                        color: #f9a825;
                        padding: 20px;
                        border-radius: 10px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                        text-align: left;
                        padding-left: 40px;
                        padding-right: 40px;

                        height: 40vh;

                        .home24211 {
                            margin-top: 5%;
                            color: #f9a825;
                            font-size: 20px;

                            font-weight: 500;
                            line-height: 26px;
                        }

                        .home24212 {
                            align-items: center;
                            align-content: center;
                            color: #f9a825;
                            font-size: 32px;
                            font-weight: 700;
                            line-height: 42px;
                            margin-bottom: 2%;
                            min-height: 2.4em;
                        }

                        .home24213 {
                            min-height: 2.4em;
                            display: flex;
                            margin-top: 20px;
                            align-content: center;
                            align-items: center;

                            .home242131, .home242132 {

                                button {
                                    margin-right: 10px;
                                    cursor: pointer;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 20px;
                                    height: 20px;
                                    border: 0;
                                    box-sizing: border-box;
                                    border-radius: 12px;
                                    color: #030303;
                                    background-color: #ffffff;
                                    outline: none;
                                }
                            }


                        }

                        .home24215 {
                            margin-top: 15%;
                        }

                        .home24214 {
                            margin-top: 18%;
                        }

                        .home24215, .home24214 {
                            button {
                                border: none;
                                padding: 10px 20px;
                                text-transform: uppercase;
                                width: 100%;
                                cursor: pointer;
                                transition: background-color 0.3s;
                                border: 0;
                                box-sizing: border-box;
                                border-radius: 12px;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 22px;
                                outline: none;
                                background-color: white;
                                color: #1f77d2;
                            }

                            button:hover {
                                background-color: #f9a825;
                                color: #082a5e;
                            }

                        }


                    }

                }

            }
        }

        .home3 {
            grid-area: home3;
            box-shadow: 2px 2px 4px rgba(3, 3, 3, 0.1);

            .home30 {
                color: black;
                text-align: center;
                padding: 20px 30px;
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 10px;
                display: flex;
                flex: 1 1 auto;
                justify-content: space-between;
                align-items: flex-start;
                /*height: 235px;*/
                background-color: #ffffff;

                .home31 {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    width: 100%;
                    max-height: 200px;
                    overflow-y: hidden;

                    .home311 {
                        display: flex;
                        flex-direction: column;

                        color: #2b2c2b;
                        font-size: 20px;
                        font-weight: 800;
                        line-height: 26px;


                    }

                    .home312 {
                        margin-top: 10%;
                        color: #2b2c2b;
                        font-size: 16px;

                        font-weight: 700;
                        line-height: 24px;
                    }

                    .home313 {
                        display: flex;

                        .home3131 {
                            img {
                                color: #2b2c2b;
                                fill: #2b2c2b;
                                font-size: 32px;
                                width: 32px;
                                height: 32px;
                            }
                        }

                    }
                }

                .home32 {
                    display: flex;
                    flex: 1 1 auto;
                    flex-direction: row;
                    flex-wrap: wrap; /* This allows the items to wrap to the next line */
                    text-align: right;
                    justify-content: flex-end; /* Aligns items to the start of the flex container */
                    gap: 20px; /* Optional: adds space between columns */
                    width: 100%;

                    .home321 {
                        display: flex;
                        flex-direction: column;
                        max-height: 200px;
                        overflow-y: hidden;
                        flex-basis: calc(25% - 20px); /* Adjusts to 4 columns */
                        max-width: calc(25% - 20px);
                        gap: 10px;
                        text-align: left;

                        .home3211 {
                            color: #2b2c2b;
                            font-size: 16px;

                            font-weight: 700;
                            line-height: 24px;
                        }

                        .home3212 {
                            color: #2b2c2b;
                            font-size: 16px;

                            line-height: 32px;

                        }
                    }
                }
            }


        }


    }


}